<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Tweetr is a fully functioning microblogging application based off of Michael Heartl's 
  <a href="http://www.railstutorial.org/book">book</a> 
  about Ruby on Rails.
</p>