<% provide(:title, "Help") %>
<h1>Help</h1>
<strong>Creating an Account</strong>
<p>Get started by creating an account on the <%= link_to "sign up", signup_path %> page.</p>
<strong>How to Change your Profile Picture</strong>
<p>Profile pictures are pulled from Gravatar. To change your profile picture please visit <a href='https://gravatar.com' target='_blank'>Gravatar's Website</a> and create an account with your email address and upload a profile picture.</p>