<footer class="footer">
  <small>
    <%= link_to "Tweetr", root_path %>
    By <a href="http://www.kylesbox.com/">Kyle Asaff</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.kylesbox.com">News</a></li>
    </ul>
  </nav>
</footer>